# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js / build
/.next/
/out/
/build
/dist
.turbo
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files — keep local copies, never commit
.env
.env.local
.env.staging
.env.prod
.env.*
!.env.example
!sample.env

# vercel
.vercel
