BB_APP=https://app.example.com
BB_OPS_USER=bb-ops
BB_PURGE_USERS=1
BB_REQUIRE_DISK_ENCRYPTION=0
BB_UPDATE_INTERVAL=15min
BB_KIOSK_USER=bb-kiosk
BB_UI_URL=http://127.0.0.1:4173
# BB_PAIRING_CODE=12345678
